extends layout

block content
  -
    var posts = artikel;

  main.o-main-content.o-archive.js-main-content
    each post in posts
      article.o-card.a--above__parent
        a(class="a--above" href=post.slug)
        header.c-card__header
          h1.c-sub-headline.c-card__headline= post.title
        p.c-card__abstract= post.abstract
        footer.c-card__footer
          p.p--small.c-card__meta #{post.type}—#{post.date}
